<div class="col-xs-6">
	<h3>Likes</h3>

	<ul>
		<li>Puppies</li>
		<li>Kittens</li>
		<li>Rainbows</li>
	  {{#if favorite-food}}
	    <li>{{favorite-food}}</li>
	    {{/if}}
	</ul>
</div>
<div class="col-xs-6">
	<h3>Dislikes</h3>

	<ul>
		<li>Mean people</li>
		<li>Pollution</li>
		<li>Using exports instead of module.exports</li>
	</ul>
</div>