<div class="col-xs-6">
	<h3>Likes</h3>

	<ul>
		<li>Blood</li>
		<li>Suffering</li>
		<li>Storms</li>
		{{#if favorite-food}}
    	<li>{{favorite-food}}</li>
    {{/if}}
    {{#if insane}}
			<li>The voices in your head 8)</li>
		{{/if}}
	</ul>
</div>
<div class="col-xs-6">
	<h3>Dislikes</h3>

	<ul>
		<li>Philanthropy</li>
		<li>Gorgaphone the Kitten</li>
		<li>Modular code</li>
		{{#if insane}}
			<li>Thorazine 8(</li>
		{{/if}}
	</ul>
</div>