<div class="col-xs-6">
	<h3>Likes</h3>

	<ul>
		<li>Puppies</li>
		<li>Kittens</li>
		<li>Rainbows</li>
	  {{#if favorite-food}}
	    <li>{{favorite-food}}</li>
	  {{/if}}
	  {{#if insane}}
			<li>Giving glitter to orphans (ﾉ◕ヮ◕)ﾉ*:・ﾟ✧</li>
		{{/if}}
    {{#if boring}}
      <li>Doing taxes.  FUCK YEAH!!!</li>
    {{/if}}
	</ul>
</div>
<div class="col-xs-6">
	<h3>Dislikes</h3>

	<ul>
		<li>Mean people</li>
		<li>Pollution</li>
		<li>Using exports instead of module.exports</li>
		{{#if insane}}
			<li>The disembodied floating frowny face over your shoulder 8( (artist's representation)</li>
		{{/if}}
    {{#if boring}}
      <li>Jaywalking</li>
    {{/if}}
	</ul>
</div>