<h3>Resume</h3>

<ul>
	<li>Lifeguard in high school</li>
	<li>TA in college</li>
	<li>Social worker</li>
	{{#if insane}}
		<li>Dragon dentist (it's a living)</li>
	{{/if}}
  {{#if boring}}
    <li>Dentist.  For humans.</li>
  {{/if}}
</ul>
