<h3>Resume</h3>

<ul>
	<li>Youth Leader, Westboro Baptist Church in high school</li>
	<li>Internship at Enron in college</li>
	<li>Hedge Fund Manager</li>
	{{#if insane}}
		<li>Megalomaniac 2015 - present</li>
	{{/if}}
  {{#if boring}}
      <li>DMV clerk, 2015-present</li>
  {{/if}}
</ul>
