<!DOCTYPE html>

<html>
<head>
	<title>The CSS Garden of Good and Evil</title>
</head>
<body>
	<!-- Form -->
	<form>
		<label for="alignment">Alignment</label>
		<input type="radio" name="alignment" value="good">Good
		<input type="radio" name="alignment" value="evil">Evil

		<label for="favorite-food">Favorite Food:</label>
		<input type="text" name="favorite-food">

		<select>
			<option>Black</option>
			<option>White</option>
		</select>

		<label for="insanity">Insanity Level:</label>
		<input type="range" min="1" max="5" name="insanity">
	</form>

	<!-- Header -->
	<header>
		<h1>Welcome to the CSS Garden of {{alignment}}!</h1>
	</header>

	<!-- Biography -->
	{{#if good}}
		{{> bio-good}}
	{{/if}}
	{{#if evil}}
		{{> bio-evil}}
	{{/if}}

	<!-- Likes/Dislikes -->

	{{#if good}}
		{{> likes-good}}
	{{/if}}
	{{#if evil}}
		{{> likes-evil}}
	{{/if}}

	<!-- Resume -->

</body>
</html>