<!DOCTYPE html>

<html>
<head>
	<title>The CSS Garden of Good and Evil</title>
</head>
<body>
	<!-- Form -->
	<form>
		<input type="radio">
		<input type="radio">

		<label for="favorite-food">Favorite Food:</label>
		<input type="text" name="favorite-food">

		<select>
			<option>Black</option>
			<option>White</option>
		</select>

		<label for="insanity">Insanity Level:</label>
		<input type="range" min="1" max="5" name="insanity">
	</form>

	<!-- Header -->
	<header>
		<h1></h1>
	</header>

	<!-- Biography -->

	<!-- Likes/Dislikes -->

	<!-- Resume -->
</body>
</html>